.evento-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
}
.evento-container h1 {
    font-size: 32px;
    color: rgb(55, 95, 122);
    margin-bottom: 20px;
}
.evento-container h2 {
    font-size: 60px;
    color: rgb(38, 186, 165);
    margin-bottom: 20px;
}
.evento-container p {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}
.destacado {
    font-size: 24px;
    font-weight: bold;
    color: rgb(38, 186, 165);
    margin: 20px 0;
}
.sugerencias-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}
.sugerencias-list li {
    background-color: rgb(38, 186, 165);
    color: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.sugerencias-list li:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.sugerencias-list li span {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
}